<!DOCTYPE html>
<html>
<head>
  <title>College Cost Calculator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
          <div class="active-green-3 active-green-4 mb-4 calc-form">
            <form action="/result" method="POST" id="calculation">
              <h4 class="calc-heading"><%= college_info[0] %></h4>
              <input type="hidden" value="<%= college_info[0] %>">
              <label for="tuition">Select In-State or Out-of-State Tuition.</label><br>
              <input id="tuition" name="college_name" type="hidden" value="<%= college_info[0] %>">
              In-State Tuition: <%= college_info[1] %>
              <input required type="radio" name="tuition" value=<%= college_info[1] %>>
              Out-of-State Tuition: <%= college_info[2] %>
              <input type="radio" name="tuition" value=<%= college_info[2] %>><br>
              
              <label for="scholarship">Enter total scholarships, grant money, and family-income amount you will put towards the cost of attendence per year.</label>
              <input id="scholarship" name="scholarship" class="form-control" type="number" placeholder="Enter total here." aria-label="scholarship" required>
              
              <label for="living_expenses">Enter the ammount you expect to spend for living on and/or off-campus per year.</label>
              <input id="living_expenses" name="living_expenses" class="form-control" type="number" placeholder="Enter living expense total here." aria-label="living_expenses" required>
              
              <label for="books">Enter the ammount you expect to spend on books per year.</label>
              <input id="books" name="books" class="form-control" type="number" placeholder="Enter books total here." aria-label="book" required>

              <label for="food">Enter the ammount you expect to spend on food per year (including meal-plans if any).</label>
              <input id="food" name="food" class="form-control" type="number" placeholder="Enter food total here." aria-label="food" required>

              <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Run Cost Calculation</button>
            </form>
          </div>
        </div>
      </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>

