<!DOCTYPE html>
<html>
<head>
  <title>College Cost Calculator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row justify-content-center">
          <h4 class="college-sub-heading">Be aware that some colleges do not provide all of the necessary information.</h4>
    <% for(let i=0; i < collegeList.all.length; ++i){ %>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-header"><%= collegeList.all[i].name %></h5>
        </div>
        <ul class="list-group">
            <h6 class="card-header">Location</h6>
              <div class="card-body">
                  <li class="list-group-item"><%= collegeList.all[i].state %>, <%= collegeList.all[i].city %></li>
              </div>
            
            <h6 class="card-header">Cost</h6>
            <div class="card-body">
                <li class="list-group-item first-item">In-State Tuition: <%= collegeList.all[i].tuition_in %></li>
                <li class="list-group-item">Out-of-State Tuition: <%= collegeList.all[i].tuition_out %></li>
                <li class="list-group-item last-item">Average Cost of Attendance: <%= collegeList.all[i].avg_cost %></li>
            </div>
        <details>
          <summary>Demographics</summary>
              <li class="list-group-item summary-item first-item">Size: <%= collegeList.all[i].size %></li>
              <li class="list-group-item summary-item">% Women: <%= collegeList.all[i].women %></li>
              <li class="list-group-item summary-item last-item">% Men: <%= collegeList.all[i].men %></li>
        </details>
        <details>
            <summary>Admission</summary>
            <li class="list-group-item summary-item first-item">Admission Rate: <%= collegeList.all[i].admission_rate %></li>
            <li class="list-group-item summary-item">Average SAT Score: <%= collegeList.all[i].sat %></li>
            <li class="list-group-item summary-item last-item">Completion Rate: <%= collegeList.all[i].completion_rate %></li>
        </details>
        <details>
            <summary>Debt</summary>
            <li class="list-group-item summary-item first-item">Median Loan Principal: <%= collegeList.all[i].loan_principal %></li>
            <li class="list-group-item summary-item">Median Debt (Family Income 0-30,000): <%= collegeList.all[i].median_debt_1 %></li>
            <li class="list-group-item summary-item">Median Debt (Family Income 30,001-75,000): <%= collegeList.all[i].median_debt_2 %></li>
            <li class="list-group-item summary-item">Median Debt (Family Income 75,000+): <%= collegeList.all[i].median_debt_3 %></li>
            <li class="list-group-item summary-item">Default Rate: <%= collegeList.all[i].default_rate %></li>
            <li class="list-group-item summary-item">% of Students Receiving a Federal Loan: <%= collegeList.all[i].percent_loan %></li>
            <li class="list-group-item summary-item last-item">% of Students Receiving a Pell Grant: <%= collegeList.all[i].percent_pell %></li>
        </details>
        <div class="card-body"> 
          <div class="active-green-3 active-green-4 mb-4">
              <form action="/calculation" method="POST">
                <input name="college_name" type="hidden" value="<%= collegeList.all[i].name %>">
                <input name="tuition_in" type="hidden" value=<%= collegeList.all[i].tuition_in %>>
                <input name="tuition_out" type="hidden" value=<%= collegeList.all[i].tuition_out %>>
                <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Go to Cost Calculation</button>
              </form>
          </div>
        </div>
      </ul>
      </div>
      <% } %>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>

