<!DOCTYPE html>
<html>
<head>
  <%- include('partials/stylesheet-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row justify-content-center">
          <h4 class="college-sub-heading">Be aware that some colleges do not provide all of the necessary information.</h4>
    <% for(let i=0; i < collegeList.all.length; ++i){ %>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-header"><%= collegeList.all[i].name %></h5>
        </div>
        <ul class="list-group">
            <h6 class="card-header">Location</h6>
              <div class="card-body">
                  <li class="list-group-item"><%= collegeList.all[i].state %>, <%= collegeList.all[i].city %></li>
              </div>
            
            <h6 class="card-header">Cost</h6>
            <div class="card-body">
                <li class="list-group-item first-item">In-State Tuition: <%= collegeList.all[i].tuition_in.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
                <li class="list-group-item">Out-of-State Tuition: <%= collegeList.all[i].tuition_out.toFixed(2).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
                <li class="list-group-item last-item">Average Cost of Attendance: <%= collegeList.all[i].avg_cost.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
            </div>
        <details>
          <summary>Demographics</summary>
              <li class="list-group-item summary-item first-item">Size: <%= collegeList.all[i].size %></li>
              <li class="list-group-item summary-item">% Women: <%= collegeList.all[i].women.toLocaleString("en", {style: "percent"}) %></li>
              <li class="list-group-item summary-item last-item">% Men: <%= collegeList.all[i].men.toLocaleString("en", {style: "percent"}) %></li>
        </details>
        <details>
            <summary>Admission</summary>
            <li class="list-group-item summary-item first-item">Admission Rate: <%= collegeList.all[i].admission_rate.toLocaleString("en", {style: "percent"}) %></li>
            <li class="list-group-item summary-item">Average SAT Score: <%= collegeList.all[i].sat %></li>
            <li class="list-group-item summary-item last-item">Completion Rate: <%= collegeList.all[i].completion_rate.toLocaleString("en", {style: "percent"}) %></li>
        </details>
        <details>
            <summary>Debt</summary>
            <li class="list-group-item summary-item first-item">Median Loan Principal: <%= collegeList.all[i].loan_principal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
            <li class="list-group-item summary-item">Median Debt (Family Income 0-$30,000): <%= collegeList.all[i].median_debt_1.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
            <li class="list-group-item summary-item">Median Debt (Family Income $30,001-$75,000): <%= collegeList.all[i].median_debt_2.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
            <li class="list-group-item summary-item">Median Debt (Family Income $75,000+): <%= collegeList.all[i].median_debt_3.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
            <li class="list-group-item summary-item">Default Rate: <%= collegeList.all[i].default_rate.toLocaleString("en", {style: "percent"}) %></li>
            <li class="list-group-item summary-item">% of Students Receiving a Federal Loan: <%= collegeList.all[i].percent_loan.toLocaleString("en", {style: "percent"}) %></li>
            <li class="list-group-item summary-item last-item">% of Students Receiving a Pell Grant: <%= collegeList.all[i].percent_pell.toLocaleString("en", {style: "percent"}) %></li>
        </details>
        <div class="card-body"> 
          <div class="active-green-3 active-green-4 mb-4">
              <form action="/calculation" method="POST">
                <input name="college_name" type="hidden" value="<%= collegeList.all[i].name %>">
                <input name="tuition_in" type="hidden" value=<%= collegeList.all[i].tuition_in %>>
                <input name="tuition_out" type="hidden" value=<%= collegeList.all[i].tuition_out %>>
                <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Go to Cost Calculation</button>
              </form>
          </div>
        </div>
      </ul>
      </div>
      <% } %>
    </div>
  </div>
  <%- include('partials/script-links') %>
</body>
</html>

