<html>
<head>
    <%- include('partials/stylesheet-links') %>
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container">
        <div class="row justify-content-center">
        <div class="card" style="width: 50rem;">
          <ul class="list-group">
              <h6 class="card-header">Here is your cost breakdown.</h6>
              <div class="card-body">
                  <li class="list-group-item first-item">What you will owe each year: <%= result[0].toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
                  <li class="list-group-item">What you will owe after 4 years (without interest): <%= (result[0] * 4).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
                  <li class="list-group-item last-item">Private loan amount (without interest): <%= ((result[0] * 4) - 31000).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) %></li>
              </div>
          </div>
        </div>
    

    <%- include('partials/script-links') %>
</body>
</html>