<!DOCTYPE html>
<html>
<head>
  <%- include('partials/stylesheet-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
          <div class="active-green-3 active-green-4 mb-4 calc-form">
            <form action="/result" method="POST" id="calculation">
              <h4 class="calc-heading"><%= college_info[0] %></h4>
              <input type="hidden" value="<%= college_info[0] %>">
              <label for="tuition">Select In-State or Out-of-State Tuition.</label><br>
              <input id="tuition" name="college_name" type="hidden" value="<%= college_info[0] %>">
              In-State Tuition: <%= college_info[1] %>
              <input required type="radio" name="tuition" value=<%= college_info[1] %>>
              Out-of-State Tuition: <%= college_info[2] %>
              <input type="radio" name="tuition" value=<%= college_info[2] %>><br>
              
              <label for="scholarship">Enter total scholarships, grant money, and family-income amount you will put towards the cost of attendence per year.</label>
              <input id="scholarship" name="scholarship" class="form-control" type="number" placeholder="Enter total here." aria-label="scholarship" required>
              
              <label for="living_expenses">Enter the ammount you expect to spend for living on and/or off-campus per year.</label>
              <input id="living_expenses" name="living_expenses" class="form-control" type="number" placeholder="Enter living expense total here." aria-label="living_expenses" required>
              
              <label for="books">Enter the ammount you expect to spend on books per year.</label>
              <input id="books" name="books" class="form-control" type="number" placeholder="Enter books total here." aria-label="book" required>

              <label for="food">Enter the ammount you expect to spend on food per year (including meal-plans if any).</label>
              <input id="food" name="food" class="form-control" type="number" placeholder="Enter food total here." aria-label="food" required>

              <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Run Cost Calculation</button>
            </form>
          </div>
        </div>
      </div>



      <%- include('partials/script-links') %>
</body>
</html>

